{% extends 'general/base.html' %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/template.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'general/js/template.js' %}"/></script>
{% endblock %}

{% block content %}
    <form method="post" class="template">
        {% csrf_token %}
        {{ formset }}
        <input type="submit" value="send">
    </form>
{% endblock %}
